<div>
  <div style="display: block" *ngIf="isReadyChart">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="MONTHS"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <<button (click)="test()">Update</button>-->
  <label *ngFor="let transaction of transactions">{{transaction}}</label>
</div>
